.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0px;
    z-index: 100;
}
.backdrop:focus {
    outline: none;
}
