.drawer-window {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
    box-shadow: 2px 0px 5px black;
    background: white;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
.drawer-window-open {
    transform: translateX(0%);
}
