.drawer-window {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
    box-shadow: 2px 0px 5px black;
    background: white;
    z-index: 200;
}
.drawer-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
