@import url("https://fonts.googleapis.com/css?family=Saira");

.drawer__window {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 450px;
    height: 100%;

    box-shadow: 2px 0px 5px black;
    background-color: white;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}
.drawer__window[open] {
    transform: translateX(0%);
}
.drawer__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7);
    border: none;
    z-index: 50;
}
.drawer__backdrop:focus {
    outline: none;
}
.drawer__window__title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 166px;

    background: linear-gradient(
        96.16deg,
        #4d004d 18.32%,
        #21617b 56.2%,
        #0cbaba 78.84%
    );
}
.drawer__window__title div {
    position: absolute;
    top: 46px;
    left: 120px;

    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 76px;

    color: #ffffff;
}
.drawer__window__rule {
    position: absolute;

    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 76px;

    color: #2e2e2e;
}
.drawer__window__pattern {
    position: absolute;
    top: 208px;
    left: 52px;
    width: 174px;
}
.drawer__window__button {
    position: absolute;
    top: 208px;
    right: 52px;
    width: 58px;
}
.drawer__window__block--live {
    margin-bottom: 12px;
    display: inline-block;
    background-image: url(../../images/block_live.png);
    width: 58px;
    height: 58px;
}
.drawer__window__block--dead {
    margin-bottom: 12px;
    display: inline-block;
    background-image: url(../../images/block_dead.png);
    width: 58px;
    height: 58px;
}
.drawer__window__line {
    position: absolute;
    width: 0px;
    height: 260px;
    left: 280px;

    border: 3px solid #2e2e2e;
    border-radius: 5px;
}
.drawer__window__arrow {
    position: absolute;
    left: 275px;
    top: 480px;

    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-left: 20px solid #2e2e2e;
}
.drawer__window__container input {
    cursor: pointer;
    display: none;
}
.drawer__window__container .checkmark {
    position: relative;
    width: 58px;
    height: 58px;

    margin-bottom: 12px;
    display: inline-block;
    background-image: url(../../images/block_dead.png);
}
.drawer__window__container input:checked + .checkmark {
    position: relative;
    width: 58px;
    height: 58px;

    margin-bottom: 12px;
    display: inline-block;
    background-image: url(../../images/block_live.png);

    animation: pulse-white 1s;
}
.drawer__window__container input:not(:checked) + .checkmark {
    animation: pulse-black 1s;
}
@keyframes pulse-black {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    }

    70% {
        box-shadow: 0 0 0 6px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
@keyframes pulse-white {
    0% {
        box-shadow: 0 0 0 0 rgba(50, 50, 50, 1);
    }

    70% {
        box-shadow: 0 0 0 6px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
