@import url("https://fonts.googleapis.com/css?family=Comfortaa");

.rule-switch {
    font-family: comfortaa;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    height: 45px;
    color: white;
    font-size: 40px;
}
.rule-switch:focus {
    outline: none;
}
.rule-switch__pattern {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    height: 60px;
    font-size: 30px;
    justify-content: space-between;
    text-align: center;
}
.rule-switch__pattern--zero {
    font-family: comfortaa;
    font-weight: bold;
    font-size: 30px;
    padding-top: 7px;
    margin-left: 8px;
    height: 34px;
    width: 42px;
    color: white;
    background-color: #181b23;
    outline-style: solid;
    outline-offset: -3px;
}
.rule-switch__pattern--one {
    font-family: comfortaa;
    font-weight: bold;
    font-size: 30px;
    padding-top: 7px;
    margin-left: 8px;
    height: 34px;
    width: 42px;
    color: #181b23;
    background-color: white;
    outline-style: solid;
    outline-offset: -3px;
    outline-width: 5px;
    outline-color: black;
}
