@import url("https://fonts.googleapis.com/css?family=Saira");

.toolbar {
    position: relative;
    width: 100%;
    height: 110px;
    left: 0px;
    top: 0px;

    background: linear-gradient(
        90.18deg,
        #370237 0%,
        #21617b 51.1%,
        #0cbaba 100%
    );
}
.toolbar__title {
    position: absolute;
    width: 785px;
    height: 54px;
    left: 32px;
    top: 18px;

    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 76px;

    color: #ffffff;
}
.toolbar__icon {
    position: absolute;
    left: 752px;
    top: 32px;
}
.toolbar__icon__square {
    position: absolute;
    width: 22px;
    height: 22px;

    background: #ffffff;
    border-radius: 2px;
}
