.toggle-button {
    position: fixed;
    top: 5%;
    left: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 24px;
    background: transparent;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
}
.toggle-button:focus {
    outline: none;
}
.toggle-button-line {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 2px;
}
