.toggle-button {
    position: fixed;
    top: 22px;
    right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 36px;
    width: 36px;
    background: transparent;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
}
.toggle-button:focus {
    outline: none;
}
.toggle-button__line {
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 6px;
}
