.toggle-button {
    position: absolute;
    top: 36px;
    right: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 38px;
    width: 36px;

    background: none;
    border: none;
    cursor: pointer;
}
.toggle-button:focus {
    outline: none;
}
.toggle-button__line {
    width: 44px;
    height: 5px;
    background: white;
    border-radius: 4px;
}
