@import url("https://fonts.googleapis.com/css?family=Comfortaa");

.toolbar {
    background-color: #24272e;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
}
.toolbar__title {
    font-family: "Comfortaa";
    font-size: 40px;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}
